<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,350,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/img/mycanvasfavicon.png" />
  <title>MY CANVAS</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <span><a class="thin" href="/" id="my">MY</a><a class="bold" href="/" id="canvas">CANVAS</a></span>{{#unless activeUser}}<span class="typewriter" id="typewriterJumbotron"></span>{{/unless}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {{#if activeUser}}
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if isAdmin}}
        <li class="nav-item ">
          <a class="nav-link" href="/opportunities/new">Add an Opportunity <span class="sr-only">(current)</span></a>
        </li>
        {{/if}}
        <li class="nav-item ">
          {{#if isAdmin}}<a class="nav-link" href="/collections">Collections <span class="sr-only">(current)</span></a>{{/if}}
          {{#unless isAdmin}}<a class="nav-link" href="/users/{{activeUser.id}}/collections">Collections <span class="sr-only">(current)</span></a>{{/unless}}
        </li>{{/if}}
        {{#unless activeUser}}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/unless}}
        {{#if activeUser}}
        <li class="nav-item active" id="divider">
          <p class="nav-link">|</p>
        </li>
        <li class="nav-item active">
          <span><p class="nav-link active" id="greeting">Hello, {{activeUser.name}}<a href="/logout"><i class="fas fa-sign-out-alt" id="logout"></i></a></p></span>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</html>