<div class="container main">

    <div class="row">
        <div class="col-md-12">
            {{#compare isAdmin true}}<h2 class="headers">All Collections</h2>{{/compare}}
            {{#compare isAdmin false}}<h2 class="headers">My Collections</h2>{{/compare}}
            <hr />
        </div>
    </div>
    {{#unless collections}}
    <div class="row">
        <div class="col-md-12">
            <h2 class="bold">You haven't added any collections!</h2>
        </div>
    </div>
    {{/unless}} 
    {{#each collections}}{{> collections/collection-block}} {{/each}}
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2 class="headers">Add a Collection</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="submit-collection-form">
                <div class="form-group">
                    <label for="collectionName">Collection Name</label>
                    <input type="input" class="form-control" id="collectionName" placeholder="Enter the name of your collection" required>
                </div>
                <div class="form-group">
                    <label for="collectionDescription">Description</label>
                    <textarea class="form-control" id="collectionDescription" rows="3" placeholder="Describe your series"></textarea>
                </div>
                <button type="submit" class="btn btn-light" id="submitCollection">Submit</button>
            </form>
        </div>
    </div>
    <hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="headers">Add an Item to a Collection</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="submit-item-form">
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input name="name" type="text" class="form-control" id="itemName" placeholder="Enter the title for this piece" required>
                </div>
                <div class="form-group">
                    <label for="itemDescription">Description</label>
                    <textarea name="description" class="form-control" id="itemDescription" rows="3" placeholder="Describe this item"></textarea>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input name="imageUrl" type="url" class="form-control" id="imageUrl" placeholder="Please submit a link to an image of this item" required>
                </div>
                <div class="form-group">
                    <label for="category">Which Collection does this Item belong to?</label>
                    <select class="form-control" id="collection-select" required>
                        <option>Please select a collection</option>
                        {{#each collections}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-light" id="submitItem">Submit</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/collections.js"></script>