.list-group-item {
  line-height: 2.5;
}

.logo {
  margin: 15px;
}

.thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  vertical-align: middle;
  margin: 0px;
}

.regular {
  font-weight: 350;
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  vertical-align: middle;
  margin: 0px;
}
.description {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.headers {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.main {
  margin: 25px auto;
  width: 100%;
}

.opportunity-spacer {
  max-width: 100%;
  background-color: grey;
  margin: 20px 0px 20px 0px;
}

#sidebar {
  border-left: 1px solid #f2f2f2;
}

#btnLogin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  font-size: 1.5rem;
}

#btm25 {
  margin-bottom: 25px;
}

.card {
  margin: 25px 0px 25px 0px;
}

.upcoming-box {
  height: 50px;
  max-width: 100%;
  margin: 20px;
  background-color: lightgrey;
}

.navbar-brand {
  width: 100%;
}

#navbarNav {
  vertical-align: middle;
  height: 100%;
}

.spacer {
  height: 200px;
}

#addOpportunity {
  margin: 25px;
}

form {
  margin: 25px 0px 25px 0px;
}

.btn-light {
  font-weight: 700!Important;
}
.deleteReq:hover {
  color:red;
}
.deleteOp {
  color: red;
}
/* Sign up // Register */

.login-form {
  width: 50%;
  margin: 50px auto;
}
.pwrd-change-form {
  width: 100%;
  margin: 0 auto;
}

.login-form form,
.pwrd-change-form {
  margin-bottom: 15px;
  background: #f2f2f2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h2,
.pwrd-change-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}
.fa-plus:hover,
.colDisplay:hover,
.itemDisplay:hover {
  cursor: -webkit-grab;
  color: grey;
}
#addCol,
#addItem {
  transition: opacity 0.3s linear, height 2s step-start;
}
.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s linear, height 2s step-end;
}
/* Highlight */

.highlight {
  background: url("/img/brush-stroke-banner-1-yellow.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
}
#logout {
  margin-left: 10px;
}
#logout:hover {
  color: red;
}
#my, 
#canvas {
  color: black;
}
#my:hover,
#canvas:hover {
  text-decoration: none;
}

/* Jumbotron */
.jumbotron-fluid {
  height: 175px;
  vertical-align: middle;
  line-height: 1;
}
#typewriterJumbotron{
  font-size: 2rem;
  font-weight: 100;
  margin-left: 10px;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  #divider {
    display: none;
  }
}
@media only screen and (max-width: 860px) {
  #typewriterJumbotron {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .login-form {
    width: 100%;
  }
}

.invalid {
  border: 1px solid red !important;
}